#-----------------------------------------------------#
# .gitignore file for the paper                       #
# Ten Years Reproducibility Challenge: Pulsed drive   #
#-----------------------------------------------------#
# Author:        Sabino Maggi                         #
# File Created:  10-02-2020                           #
# Last revision: 19-06-2020                           #
#-----------------------------------------------------#


### files to ignore: ###

_output
.quarto

#--- pdf and backup files
##*.pdf
*.bak
*~

#--- LaTeX junk
*.aux
*.bbl
*.log
*.out

*.bcf
*.blg
*.fls
*.fdb_latexmk
*.run.xml
*.loc
*.soc

#--- macOS junk
.DS_Store

#--- Python stuff
__pycache__/

#--- end of .gitignore file
